{{define "index"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bulma-prefers-dark.css">
    <link rel="stylesheet" href="/static/fontawesome-free-6.1.2-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="/static/css/chat.css?{{.CacheHash}}">
    <title>À propos de BareRTC</title>
</head>
<body>

    <div class="container is-fullhd p-2">
        <div class="content my-5">
            <h1>À propos de BareRTC</h1>

            <p>
            Ce logiciel de salon de discussion s'appelle <strong>BareRTC</strong> et cette page contient des informations sur le logiciel et comment l'utiliser.
            </p>

            <p>
            BareRTC est un projet open source publié sous la licence GNU General Public License avec le code disponible
            <a href="https://git.kirsle.net/apps/BareRTC" target="_blank">ici</a>.
            </p>

            <h1>À propos de {{AsHTML .Config.Title}}</h1>

            <p>
            <strong>{{AsHTML .Config.Title}}</strong> est le nom de ce serveur BareRTC en particulier. L'administrateur a peut-être laissé quelques liens vers plus d'informations ci-dessous :
            </p>

            <ul>
                <li><strong>Site web :</strong>
                    <a href="{{.Config.WebsiteURL}}" target="_blank">{{.Config.WebsiteURL}}</a>
                </li>
            </ul>

            <hr>

            <h1 id="help">
                Aide &amp; Support
                <a href="#help" class="fa fa-paragraph is-size-6"></a>
            </h1>

            <ul>
                <li><a href="#tour">Visite de l'interface utilisateur</a></li>
                <li><a href="#video-sharing">Comment partager une vidéo</a></li>
                <li><a href="#features">Fonctionnalités principales</a></li>
                <li><a href="#browsers">Navigateurs pris en charge</a></li>
                <li><a href="#privacy">Confidentialité</a></li>
                <li><a href="#troubleshooting">Dépannage</a></li>
            </ul>

            <h1 id="tour">
                Visite de l'interface utilisateur
                <a href="#tour" class="fa fa-paragraph is-size-6"></a>
            </h1>

            <div class="has-text-centered mb-4">
                <img src="/static/img/screenshot.png" width="1269" height="582" alt="Capture d'écran de l'interface utilisateur sur ordinateur">
                <br><em>Illustré : Capture d'écran de l'interface utilisateur sur tablette ou écran d'ordinateur.</em><br><br>
                <img src="/static/img/mobile.png" width="720" height="703" alt="Capture d'écran de l'interface utilisateur sur mobile">
                <br><em>Illustré : Capture d'écran de l'interface mobile</em>
            </div>

            <p>
                Ci-dessus, des captures d'écran montrent à quoi ressemble le salon de discussion sur ordinateur et sur mobile.
                Voici une description de certaines fonctionnalités :
            </p>

            <ul>
                <li>
                    <strong>Contrôles de votre caméra :</strong> En cliquant sur le bouton
                    <button type="button" class="button is-small is-success px-1">
                        <i class="fa fa-video mr-2"></i>
                        Partager la webcam
                    </button>
                    vous activez votre webcam et votre vidéo peut être regardée par d'autres personnes dans le salon de discussion. Pendant la diffusion, vous pouvez arrêter votre webcam, couper votre micro et voir qui vous regarde en cliquant sur le bouton
                    <button type="button" class="button is-small is-info is-outlined ml-1 px-1">
                        <i class="fa fa-eye mr-2"></i>
                        0
                    </button>
                    qui affiche le nombre de spectateurs.
                    <ul>
                        {{if .Config.PermitNSFW}}
                        <li>
                            Le bouton <button type="button" class="button is-small is-outlined is-dark px-1">
                                <i class="fa fa-fire has-text-danger mr-1"></i> Explicite
                            </button>
                            permet d'indiquer que votre caméra est "Explicite". Si vous comptez avoir un comportement sexuel à la caméra, merci de marquer votre caméra comme "Explicite" avec ce bouton. Le bouton devient rouge lorsqu'il est actif, comme ceci :
                            <button type="button" class="button is-small is-danger px-1">
                                <i class="fa fa-fire mr-1"></i> Explicite
                            </button>
                        </li>
                        {{end}}
                        <li>
                            Vous pouvez aussi voir qui regarde votre caméra en cliquant sur l'onglet "Regarde" dans la liste des personnes en ligne.
                        </li>
                    </ul>
                </li>
                <li>
                    La liste <strong>Qui est en ligne</strong> affiche toutes les personnes actuellement connectées au salon. Cette liste est globale, peu importe le canal que vous consultez. Vous y trouverez aussi des boutons pour ouvrir un message privé (DM) ou regarder la webcam de quelqu'un si elle est active.
                    <ul>
                        <li>
                            <button type="button" class="button is-small px-2 py-1">
                                <i class="fa fa-user"></i>
                            </button>
                            Ce bouton ouvre la page de profil de l'utilisateur, si elle existe. L'icône peut être colorée selon le genre : <i class="fa fa-user has-text-gender-male"></i> homme, <i class="fa fa-user has-text-gender-female"></i> femme, <i class="fa fa-user has-text-gender-other"></i> autre.
                        </li>
                        <li>
                            <button type="button" class="button is-small px-2 py-1">
                                <i class="fa fa-message"></i>
                            </button>
                            Ce bouton ouvre un message privé (DM) avec cette personne.
                        </li>
                        <li>
                            <button type="button" class="button is-small px-2 py-1 is-info is-outlined">
                                <i class="fa fa-video"></i>
                            </button>
                            Ce bouton ouvre la webcam de l'utilisateur, si elle est active. Un bouton <strong class="has-text-info">bleu</strong> signifie qu'il est en direct, un bouton <strong class="has-text-danger">rouge</strong> indique que la vidéo est marquée <abbr title="Not Safe For Work">NSFW</abbr> ou explicite. Un bouton grisé signifie que la webcam n'est pas active.
                        </li>
                    </ul>
                </li>
                <li>
                    Le panneau <strong>Canaux &amp; DMs</strong> liste les salons publics disponibles ainsi que les messages privés ouverts. Certains canaux peuvent afficher un compteur de notifications pour signaler des messages non lus.
                    <ul>
                        <li>
                            <strong>Remarque :</strong> Les salons de discussion sont des canaux publics où <em>tout le monde</em> est présent, conçus pour organiser les conversations par sujet. Par exemple, un salon peut être dédié au partage de photos pour éviter de surcharger la conversation principale.
                        </li>
                    </ul>
                </li>
                <li>
                    La <strong>zone de saisie de message</strong> en bas de l'écran vous permet d'écrire un message et de l'envoyer dans le canal ou la conversation privée sélectionnée.
                    <ul>
                        <li>
                            Dans les canaux publics, vous pouvez <strong>envoyer une image</strong> en cliquant sur l'icône image à gauche de la zone de saisie.
                        </li>
                        <li>
                            Vous pouvez <strong>ajouter un emoji</strong> à votre message en cliquant sur l'icône smiley à droite de la zone de saisie.
                        </li>
                        <li>
                            Vous pouvez <strong>mentionner</strong> des personnes en tapant "@", ce qui propose une auto-complétion des utilisateurs en ligne. Appuyez sur Tab pour insérer le nom sélectionné.
                        </li>
                    </ul>
                </li>
                <li>
                    En haut à droite, le bouton <i class="fa fa-bars"></i> <strong>Menu</strong> donne accès à des options comme <i class="fa fa-gears"></i> <strong>Paramètres du chat</strong>.
                    Quelques fonctionnalités intéressantes :
                    <ul>
                        <li>
                            <strong>Redimensionnement vidéo :</strong> vous pouvez agrandir les webcams pour mieux voir vos interlocuteurs.
                        </li>
                        <li>
                            <strong>Effets sonores :</strong> par défaut, un son est joué lors de la réception d'un message privé, mais vous pouvez aussi activer des sons pour les messages publics ou les entrées/sorties des utilisateurs.
                        </li>
                    </ul>
                </li>
            </ul>

            <p>
                Sur <strong>mobile</strong>, si l'écran est trop petit pour tout afficher, le salon de discussion s'affiche par défaut et des boutons dans les coins permettent d'accéder aux panneaux latéraux (pour changer de canal, gérer les DMs ou voir qui est en ligne et regarder les webcams).
            </p>

            <hr>

            <h1 id="features">
                Fonctionnalités principales
                <a href="#features" class="fa fa-paragraph is-size-6"></a>
            </h1>

            <h3 id="emoji-reactions">
                Réactions Emoji
                <a href="#emoji-reactions" class="fa fa-paragraph is-size-6"></a>
            </h3>

            <p>
            Vous pouvez ajouter des réactions emoji aux messages en cliquant sur le bouton
            <button type="button" class="button is-small has-text-grey is-outlined px-2">
                <i class="fa fa-plus mr-2"></i> <i class="fa fa-heart"></i>
            </button>
            en bas à droite du message.
            </p>

            <p>
            Les réactions ajoutées par vous ou d'autres apparaîtront en bas du message. Vous pouvez voir qui a réagi en survolant le bouton avec la souris, ou "aimer" leur réaction en cliquant dessus.
            </p>

            <h3 id="mute">
                Mettre en sourdine les utilisateurs indésirables
                <a href="#mute" class="fa fa-paragraph is-size-6"></a>
            </h3>

            <p>
            Si quelqu'un vous dérange dans le chat, vous pouvez <strong>le mettre en sourdine</strong> en cliquant sur le bouton rouge <i class="fa fa-comment-slash has-text-danger"></i> sur son message.
            </p>

            <p>
            Lorsqu'ils sont en sourdine :
            </p>

            <ul>
                <li>Vous ne verrez plus leurs futurs messages dans les salons publics.</li>
                <li>Vous ne recevrez plus leurs futurs messages privés (DMs).</li>
                <li>
                    Ils ne pourront pas regarder votre webcam si vous la partagez. Le serveur leur dira que votre caméra <em>n'est même pas en ligne</em> et ils ne sauront pas qu'ils ont été mis en sourdine.
                </li>
            </ul>

            <p>
            La mise en sourdine est <strong>temporaire</strong> et dure jusqu'à la fin de votre session (jusqu'à votre déconnexion).
            </p>

            <h3 id="markdown">
                Mise en forme de vos messages
                <a href="#markdown" class="fa fa-paragraph is-size-6"></a>
            </h3>

            <p>
            BareRTC prend en charge la syntaxe Markdown pour vos messages. Vous pouvez mettre du texte en <strong>gras</strong> en mettant des astérisques autour, <strong>**comme ceci**</strong>, ou en italique avec <em>*un seul astérisque*</em>.
            </p>

            <p>
            Les liens commençant par https:// seront cliquables tels quels, ou vous pouvez créer un libellé personnalisé en tapant par exemple <code>[cliquez ici](https://www.wikipedia.org/)</code>.
            </p>

            <p>
            Pour en savoir plus sur Markdown, consultez le site <a href="https://www.markdownguide.org" target="_blank">Markdown Guide</a>.
            </p>

            <hr>

            <h1 id="video-sharing">
                Comment partager une vidéo
                <a href="#video-sharing" class="fa fa-paragraph is-size-6"></a>
            </h1>

            <h3 id="webcam">
                À propos du partage de webcam
                <a href="#webcam" class="fa fa-paragraph is-size-6"></a>
            </h3>

            <p>
            La technologie WebRTC utilisée par ce salon permet des connexions <strong>pair à pair</strong> entre vous et les autres membres pour diffuser la vidéo et l'audio directement, sans serveur intermédiaire. Dans la plupart des cas, WebRTC fonctionne "tout seul", mais il se peut que vous rencontriez des difficultés si votre réseau est fortement filtré (par exemple en entreprise ou à l'école).
            </p>

            <p>
            Dans de nombreuses applications vidéo WebRTC (Zoom, Jitsi, Google Hangouts, etc.), lorsqu'une connexion directe n'est pas possible, un serveur relais est utilisé. BareRTC n'utilise pas de tel serveur pour éviter les coûts de bande passante. Si le partage vidéo ne fonctionne pas, vous pouvez toujours discuter par texte normalement.
            </p>

            <p>
            <strong>Remarque :</strong> en raison de la nature pair à pair, il est possible que votre interlocuteur découvre votre <a href="https://en.wikipedia.org/wiki/IP_address" target="_blank">adresse IP</a>. C'est le cas pour tous les chats vidéo WebRTC. Il est aussi possible que votre interlocuteur enregistre votre vidéo. Merci d'informer un modérateur si quelqu'un viole votre vie privée.
            </p>

            <h3 id="broadcast">
                Comment activer la vidéo ?
                <a href="#broadcast" class="fa fa-paragraph is-size-6"></a>
            </h3>

            <p>
                Pour partager votre webcam, cliquez sur le bouton vert
                <button type="button" class="button is-small is-success px-1">
                    <i class="fa fa-video mr-2"></i>
                    Partager la webcam
                </button>
                en haut à gauche de la page. Cela ouvrira une fenêtre avec des options pour votre caméra :
            </p>

            <ul>
                <li>
                    Vous pouvez démarrer avec le micro coupé par défaut.
                </li>
                {{if .Config.PermitNSFW}}
                <li>
                    Vous pouvez marquer votre caméra comme "Explicite" dès le début. Si vous comptez avoir un comportement sexuel, cochez cette case pour que votre caméra apparaisse en rouge et que les autres sachent à quoi s'attendre.
                </li>
                {{end}}
                <li>
                    Vous pouvez activer des options "webcam mutuelle" :
                    <ul>
                        <li>Exiger que vos spectateurs partagent aussi leur caméra avant de pouvoir ouvrir la vôtre.</li>
                        <li>Ouvrir automatiquement la caméra de votre spectateur s'il ouvre la vôtre (et qu'il diffuse aussi).</li>
                    </ul>
                </li>
            </ul>

            <h3 id="stop-webcam">
                Comment arrêter ma caméra ?
                <a href="#stop-webcam" class="fa fa-paragraph is-size-6"></a>
            </h3>

            <p>
                Lorsque vous diffusez, le bouton rouge "<i class="fa fa-stop"></i> Arrêter" en haut de la page coupe votre caméra.
            </p>

            <h3 id="mute-microphone">
                Comment couper le micro de ma caméra ?
                <a href="#mute-microphone" class="fa fa-paragraph is-size-6"></a>
            </h3>

            <p>
                Le bouton <i class="fa fa-mute"></i> Couper le son est en haut de la page à côté du bouton <i class="fa fa-stop"></i> Arrêter. Vous pouvez aussi cliquer sur le micro dans l'aperçu vidéo pour couper/activer le son.
            </p>

            <h3 id="watching">
                Comment voir qui me regarde ?
                <a href="#watching" class="fa fa-paragraph is-size-6"></a>
            </h3>

            <p>
                Cliquez sur le bouton <button type="button" class="button is-small is-info is-outlined ml-1 px-1">
                    <i class="fa fa-eye mr-2"></i>
                    0
                </button> en haut de la page pour voir qui vous regarde. Le nombre dans le bouton indique vos spectateurs.
            </p>

            <p>
                Vous pouvez aussi cliquer sur l'onglet <i class="fa fa-eye"></i> Regarde dans la liste des personnes en ligne.
            </p>

            <h3 id="boot">
                Comment empêcher quelqu'un de me regarder ?
                <a href="#boot" class="fa fa-paragraph is-size-6"></a>
            </h3>

            <p>
                Dans la liste "Qui est en ligne", cliquez sur l'onglet <i class="fa fa-eye"></i> Regarde pour voir qui regarde votre caméra.
            </p>

            <p>
                Pour "éjecter" quelqu'un, cliquez sur le bouton
                <button type="button" class="button is-small px-2 py-1"
                    title="Expulser cette personne de votre caméra">
                    <i class="fa fa-user-xmark has-text-danger"></i>
                </button>
                à côté de son nom. Il ne pourra plus rouvrir votre caméra pendant votre session.
            </p>

            <p>
                Pour les personnes éjectées, le serveur leur dira que votre caméra <em>n'est même pas en ligne</em> ! Ils verront un bouton vidéo grisé et penseront que vous avez simplement coupé la caméra.
            </p>

            <h3 id="video-size">
                Comment agrandir les vidéos ?
                <a href="#video-size" class="fa fa-paragraph is-size-6"></a>
            </h3>

            <p>
                Plusieurs méthodes existent pour agrandir les vidéos selon que vous utilisez une souris ou un écran tactile :
            </p>

            <p>
                Options valables pour tous les appareils :
            </p>

            <ul>
                <li>
                    Paramètres du chat : dans le menu bleu en haut à droite, l'onglet Affichage propose un menu déroulant "Taille vidéo" pour agrandir toutes les vidéos.
                </li>
                <li>
                    Sur les grands écrans (iPad en mode paysage, etc.), quand des vidéos sont ouvertes, cherchez les boutons <i class="fa fa-magnifying-glass-plus"></i> <i class="fa fa-magnifying-glass-minus"></i> dans l'en-tête pour agrandir/réduire les vidéos.
                </li>
            </ul>

            <p>
                Si vous avez une souris, vous pouvez aussi :
            </p>

            <ul>
                <li>
                    Quand les vidéos sont ancrées en haut de la page, survolez le coin inférieur droit d'une vidéo pour afficher le curseur de redimensionnement, puis cliquez-glissez pour agrandir/réduire.
                </li>
                <li>
                    Les vidéos peuvent aussi être "détachées" (pop-out) du dock. Le bouton pop-out apparaît sur la vidéo, à côté du bouton muet. Une fois détachée, vous pouvez déplacer la vidéo et la redimensionner en tirant sur les bords (sauf le haut).
                </li>
            </ul>

            <p>
                Enfin, vous pouvez aussi passer une vidéo en plein écran grâce au bouton dédié dans les contrôles en bas de chaque vidéo.
            </p>

            <h3 id="watermarks">
                <i class="fa fa-qrcode mr-2"></i> À quoi servent les QR codes sur les webcams ?
                <a href="#watermarks" class="fa fa-paragraph is-size-6"></a>
            </h3>

            <p>
                La plupart des webcams affichent un QR code dans un coin, ainsi qu'une version translucide au centre de la vidéo.
            </p>

            <p>
                Ces QR codes sont une mesure de sécurité pour dissuader l'enregistrement d'écran. Il n'est pas techniquement possible d'empêcher ou de détecter l'enregistrement, mais le QR code "marque" la vidéo avec le nom d'utilisateur du spectateur et la date.
            </p>

            <p>
                Si une vidéo fuit en ligne, le QR code permettra d'identifier <strong>qui</strong> l'a enregistrée et quand, afin de bannir l'utilisateur ou de le signaler aux autorités si nécessaire.
            </p>

            <p>
                <strong>Si vous acceptez le risque que quelqu'un enregistre votre webcam,</strong> vous pouvez désactiver le QR code sur <em>votre propre</em> vidéo dans les paramètres du chat, onglet "Caméra".
            </p>

            <hr>

            <h1 id="browsers">
                Navigateurs pris en charge
                <a href="#browsers" class="fa fa-paragraph is-size-6"></a>
            </h1>

            <p>
                Toutes les fonctionnalités du salon, y compris le partage de webcam, fonctionnent généralement sur tous les navigateurs modernes (Firefox, Chrome, Edge, Safari, Android, iPad).
            </p>

            <hr>

            <h1 id="privacy">
                Confidentialité
                <a href="#privacy" class="fa fa-paragraph is-size-6"></a>
            </h1>

            <p>
            Quelques points concernant la confidentialité sur ce salon :
            </p>

            <ul>
                <li>
                    Le serveur ne conserve pas l'historique des messages à long terme. Les messages sont diffusés en temps réel et les utilisateurs sont oubliés à la déconnexion.
                </li>
                <li>
                    Cependant, le serveur garde temporairement des <strong>journaux</strong> pour aider l'administrateur à diagnostiquer des problèmes. Ces journaux peuvent inclure les messages publics. Les messages privés (DMs) ne sont <em>pas</em> enregistrés par défaut. En mode débogage, les DMs peuvent être enregistrés pour le diagnostic.
                </li>
                <li>
                    Si l'administrateur l'a activé, vos <strong>messages privés récents</strong> peuvent être enregistrés (pour votre confort) dans une base de données. Les anciens messages expirent après environ 90 jours, et vous pouvez tout effacer dans les paramètres du chat. Les DMs ne sont enregistrés que si le site web vous connecte au chat.
                </li>
                <li>
                    Les modérateurs <strong>NE PEUVENT PAS</strong> voir le contenu de vos DMs. Les journaux du serveur ne sont généralement pas surveillés activement. Si vous avez des conversations très sensibles, préférez une autre plateforme.
                </li>
                <li>
                    Le partage de webcam est <strong>pair à pair</strong> : votre interlocuteur peut donc voir votre adresse IP, comme sur tous les services WebRTC.
                </li>
                <li>
                    Comme sur toutes les plateformes vidéo, il est toujours possible que votre interlocuteur enregistre votre vidéo. C'est un risque inhérent à ce type de service.
                </li>
            </ul>

            <hr>

            <h1 id="troubleshooting">
                Dépannage
                <a href="#troubleshooting" class="fa fa-paragraph is-size-6"></a>
            </h1>

            <p>
                Cette section contient des conseils pour résoudre les problèmes courants dans le salon.
            </p>

            <h2 id="webcam-troubleshooting">
                Problèmes de partage de webcam
                <a href="#webcam-troubleshooting" class="fa fa-paragraph is-size-6"></a>
            </h2>

            <h3 id="NotAllowedError">
                Permission refusée, ou NotAllowedError
                <a href="#NotAllowedError" class="fa fa-paragraph is-size-6"></a>
            </h3>

            <p>
                Si vous voyez un message d'erreur de <strong class="has-text-danger">ChatClient</strong> indiquant "Erreur webcam : Permission refusée" ou "NotAllowedError", cette section est pour vous.
            </p>

            <p>
                Cela signifie que votre navigateur n'a pas accordé l'accès à la caméra et au micro. Cela peut être dû à un clic sur "Refuser" lors de la demande d'autorisation, ou parce que votre navigateur n'a pas la permission d'utiliser ces appareils.
            </p>

            <p>
                Pour résoudre ce problème, vérifiez deux endroits :
            </p>

            <ol>
                <li>
                    Dans les paramètres de votre navigateur (Chrome, Firefox, etc.), assurez-vous d'autoriser la caméra et le micro pour le site ({{.Hostname}}).
                </li>
                <li>
                    Dans les paramètres de votre système d'exploitation, vérifiez que votre navigateur a la permission d'utiliser la caméra et le micro. <strong>Remarque :</strong> sur Mac OS et Windows récents, ce n'est pas toujours le cas par défaut !
                </li>
            </ol>

            <p>
                Voir les sections suivantes pour plus de détails.
            </p>

            <p>
                <strong>Remarque :</strong> le partage de webcam nécessite l'autorisation pour la caméra <em>et</em> le micro. Si l'un des deux est refusé, cela ne fonctionnera pas.
            </p>

            <h4>1. Vérifiez les permissions de votre navigateur pour {{.Hostname}}</h4>

            <p>
                Allez dans les paramètres de votre navigateur, section "Confidentialité" ou "Permissions", et vérifiez que <code>{{.Hostname}}</code> a la permission d'utiliser la caméra <strong>et</strong> le micro. Assurez-vous que ce n'est pas sur "Refuser".
            </p>

            <p>
                Par exemple, sur <i class="fab fa-chrome"></i> <strong>Google Chrome :</strong>
            </p>

            <ul>
                <li>Allez dans Paramètres > "Confidentialité et sécurité"</li>
                <li>Cliquez sur "Paramètres des sites" <small>("Contrôle ce que les sites peuvent utiliser et afficher")</small></li>
                <li>Vous pouvez vérifier les permissions de deux façons :
                    <ul>
                        <li>Dans "Activité récente", cherchez {{.Hostname}} ou cliquez sur "Afficher les permissions et données des sites".</li>
                        <li>Ou, dans la section "Permissions", cliquez sur "Caméra" et "Microphone" pour voir la liste des sites autorisés/refusés, et changez {{.Hostname}} en "Autoriser" ou supprimez-le de la liste.</li>
                    </ul>
                </li>
            </ul>

            <p>
                Sur <i class="fab fa-firefox"></i> <strong>Mozilla Firefox :</strong>
            </p>

            <ul>
                <li>Allez dans Paramètres > "Vie privée et sécurité"</li>
                <li>Descendez à la section "Permissions" pour la caméra et le micro.</li>
                <li>Cliquez sur "Paramètres..." pour voir la liste des sites autorisés/refusés.</li>
                <li>Trouvez <code>{{.Hostname}}</code> et supprimez-le de la liste.</li>
            </ul>

            <p>
                Après modification, <strong>redémarrez votre navigateur</strong> et reconnectez-vous au salon. Lors de l'activation de la webcam, le navigateur devrait demander l'autorisation : cliquez sur "Autoriser".
            </p>

            <p>
                Si cela ne résout pas le problème, vérifiez les paramètres de votre système d'exploitation.
            </p>

            <h4>2. Vérifiez les paramètres de votre système d'exploitation</h4>

            <p>
                Par exemple, <strong>sur <i class="fab fa-apple"></i> Mac OS :</strong>
            </p>

            <ul>
                <li>Cliquez sur la pomme en haut à gauche > "Réglages du système"</li>
                <li>Allez dans "Confidentialité &amp; Sécurité"</li>
                <li>Vérifiez que la caméra et le micro sont <strong>autorisés</strong> pour votre navigateur.</li>
                <li>Plus d'infos : <a href="https://support.apple.com/guide/mac-help/control-access-to-your-camera-mchlf6d108da/mac">lien Apple</a></li>
            </ul>

            <p>
                <strong>Sur <i class="fab fa-windows"></i> Windows 10 ou 11 :</strong>
            </p>

            <ul>
                <li>Démarrer > Paramètres > Confidentialité & Sécurité > Caméra, et vérifiez que l'accès caméra est <strong>activé</strong>.</li>
                <li>Vérifiez que "Autoriser les applications à accéder à la caméra" est activé.</li>
                <li>Vérifiez que votre navigateur (Chrome, etc.) a la permission d'utiliser la caméra et le micro.</li>
                <li>Plus d'infos : <a href="https://support.microsoft.com/en-us/windows/manage-app-permissions-for-your-camera-in-windows-87ebc757-1f87-7bbf-84b5-0686afb6ca6b">lien Microsoft</a></li>
            </ul>

            <h3 id="other-webcam-errors">
                Autres erreurs webcam
                <a href="#other-webcam-errors" class="fa fa-paragraph is-size-6"></a>
            </h3>

            <p>
                L'erreur la plus courante est la permission refusée, mais il existe d'autres messages d'erreur :
            </p>

            <ul>
                <li>
                    <strong>AbortError :</strong> par exemple "Échec du démarrage de l'entrée vidéo"
                    <br><br>
                    Cela peut arriver si votre webcam est déjà utilisée par un autre programme (Skype, Zoom, etc.). Fermez les autres applications vidéo et réessayez.
                </li>
                <li>
                    <strong>NotFoundError</strong> ou <strong>NotReadableError</strong>
                    <br><br>
                    Cela peut indiquer que votre webcam n'est pas disponible pour le navigateur (non branchée, pilote manquant, etc.). Essayez d'autres sites ou applications pour vérifier si la caméra fonctionne ailleurs.
                </li>
            </ul>

            <p>
                Les autres erreurs sont rares. Si ce guide ne vous aide pas, copiez le message d'erreur dans un moteur de recherche. Toute la partie après "Erreur webcam :" provient de votre navigateur. Vous pouvez aussi consulter la <a href="https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia">documentation Mozilla</a>.
            </p>

            <h3 id="webcam-not-loading">
                Les webcams des autres ne se chargent pas
                <a href="#webcam-not-loading" class="fa fa-paragraph is-size-6"></a>
            </h3>

            <p>
                Il peut arriver que vous cliquiez pour regarder la webcam de quelqu'un et que la vidéo ne se charge pas. Si cela n'arrive qu'avec certaines caméras (mais que d'autres fonctionnent), le problème vient probablement de leur côté.
            </p>

            <p>
                Le partage de webcam fonctionne en "pair à pair". En général, cela marche pour la plupart des gens, mais parfois le réseau ou le pare-feu bloque la connexion.
            </p>

            <p>
                Les causes les plus fréquentes de problèmes de connexion webcam :
            </p>

            <ul>
                <li>
                    Si vous êtes sur un réseau très filtré (école, entreprise, etc.).
                </li>
                <li>
                    Si vous êtes sur un réseau cellulaire (4G/5G). Certains opérateurs bloquent les connexions directes.
                </li>
                <li>
                    Si vous utilisez un VPN : certains VPN ne permettent pas les connexions nécessaires.
                </li>
            </ul>

            <p>
                Conseils spécifiques :
            </p>

            <ul>
                <li>
                    Si vous ne pouvez ouvrir <strong>aucune</strong> webcam (même si beaucoup de gens sont en vidéo), c'est probablement à cause d'un réseau filtré. Essayez le WiFi ou désactivez le VPN.
                </li>
                <li>
                    Si <strong>seules une ou deux webcams</strong> ne s'ouvrent pas, le problème vient probablement de leur côté (réseau filtré, etc.).
                </li>
                <li>
                    Si le bouton webcam d'une personne a une barre oblique (<i class="fa fa-video-slash has-text-info"></i>), cela signifie probablement que cette personne exige que <strong>vous</strong> partagiez votre webcam avant d'ouvrir la sienne. Cliquez sur le bouton pour voir la raison exacte.
                </li>
            </ul>
        </div>
    </div>

</body>
</html>
{{end}}
